@model impacta_Projeto03.Models.Produto

@{
    ViewData["Title"] = "Cadastro | Produtos";
}

<h1 class="mt-3">Cadastro Produtos</h1>
<hr />
<div class="container">
        <form id="formCriar" asp-action="Create">
        <div class="row justify-content-center align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="col-md-12">
                    <label asp-for="ValorUnitario" class="control-label"></label>
                    <input asp-for="ValorUnitario" class="form-control" />
                    <span asp-validation-for="ValorUnitario" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="col-md-12">
                    <label asp-for="PrecoVenda" class="control-label"></label>
                    <input asp-for="PrecoVenda" class="form-control" />
                    <span asp-validation-for="PrecoVenda" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-2">
                <label asp-for="Fornecedor" class="control-label"></label>
                <input asp-for="Fornecedor" class="form-control" />
                <span asp-validation-for="Fornecedor" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Enviar" class="btn btn-primary" />
                <a class="btn btn-light text-black" style="text-decoration: none;" asp-action="Index">Voltar</a>
            </div>
        </div>
        </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
