@model impacta_Projeto03.Models.Acesso

@{
    ViewData["Title"] = "Cadastro | Acesso";
}

<h1>Cadastro de Acessos</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NivelAcesso" class="control-label"></label>
                <input asp-for="NivelAcesso" class="form-control" />
                <span asp-validation-for="NivelAcesso" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="btn btn-light mt-2"><a class="text-black" style="text-decoration: none;" asp-action="Index">Voltar</a></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
