@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<html>
    <body>
    <div class="container">
        <form>
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-auto p-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded mb-5">
                    <div class="text-center">
                        <h2>Login</h2>
                    </div>
                    <div class="form-floating col-auto mb-3">
                        <input style="width: 350px;" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">E-mail</label>
                    </div>
                    <div class="form-floating col-auto">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Senha</label>
                    </div>
                    <div class="form-check mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Lembre-me</label>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </body>
</html>