@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
        <div class="container-fluid">
        <form class="m-5">
            <div class="col-md-12 offset-md-4">
                <div class="form-group flex-row col-md-4 mb-2">
                    <label class="mb-1" for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" style="min-width:50%;" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                </div>
                <div class="form-group flex-row col-md-4 mb-2">
                    <label class="mt-1" for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" style="min-width:50%;" id="exampleInputPassword1" placeholder="Senha">
                    <label> <input class="form-check-input mt-1" type="checkbox" value=""> Lembre-me  </label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Entrar</button>
            </div>
        </form>
        </div>
    </body>
</html>